<!-- templates/blog/editora_list.html -->
<h1>Lista de Editoras</h1>

<a href="{% url 'blog:editora_form' %}">Nova Editora</a>

<table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for editora in editoras %}
            <tr>
                <td>{{ editora.nome }}</td>
                <td>
                    <a href="{% url 'blog:editora_update' editora.pk %}">Editar</a> | 
                    <a href="{% url 'blog:editora_delete' editora.pk %}">Deletar</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>