<!-- templates/blog/livro_list.html -->
<h1>Lista de Livros</h1>

<a href="{% url 'blog:livro_form' %}">Novo Livro</a>

<table>
    <thead>
        <tr>
            <th>Título</th>
            <th>Autor</th>
            <th>Editora</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for livro in livros %}
            <tr>
                <td>{{ livro.titulo }}</td>
                <td>{{ livro.autor.nome }}</td>
                <td>{{ livro.editora.nome }}</td>
                <td>
                    <a href="{% url 'blog:livro_update' livro.pk %}">Editar</a> | 
                    <a href="{% url 'blog:livro_delete' livro.pk %}">Deletar</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>